.buttonsGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-top: 10px;
}

.gridItem{
    width: 20px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}